# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملفات البيئة الافتراضية (إذا كنت تستخدمها)
venv/
.venv/

# تجاهل ملفات الإعدادات السرية (سننشئها لاحقاً)
.env

# تجاهل ملفات قواعد البيانات المحلية (إذا أنتجها الدوكر)
mysql_data/